<p>
  <strong>Name:</strong>
  <%= @robot.name %>
</p>
 
<p>
  <strong>Creator:</strong>
  <%= @robot.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @robot.description %>
</p>

<%= link_to 'Back', robots_path %>